# Performance Schema Configuration
[mysqld]
performance_schema = ON
performance_schema_instrument = 'statement/sql/*=ON'
performance_schema_consumer_events_statements_history = ON
performance_schema_consumer_events_statements_history_long = ON
